<!doctype html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<title>Home</title>
	<style type="text/css">
		div {
			border: 1px solid gray; padding: 5px; margin-bottom: 5px;
		}
		a:link { text-decoration: none; color: black; }
		a:active { text-decoration: none; color: green; }
		a:hover { text-decoration: none; color: black; font-weight: bold; }
		a:visited { text-decoration: none; color: black; }
	</style>
</head>
<body>
	<h2>Spring Boot Security!!!! 회원 전용 페이지</h2>
	<hr />
	<img src="/images/linux.png"/> <br />
	[ <a href="/">홈으로</a> ]
	<hr />
	<div sec:authorize="isAuthenticated()">
		<fieldset>
			<legend>시큐리티 정보</legend>
			  	인증이 되었을때 이 내용이 보임  : [<a th:href="@{/logout}">Logout</a>]
				<div>
					로그인 사용자 : <span sec:authentication="name">Name</span> <br />
					로그인 권  &nbsp;&nbsp;한 :  
					<span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
				</div>
				<div sec:authentication="principal">
					로그인 정보가 보임
				</div>
			<div sec:authorize="hasRole('ROLE_ADMIN')">
			  	ROLE_ADMIN 권한이  있을 경우만 이 내용이 보임
			</div>
			<div sec:authorize="hasRole('ROLE_USER')">
			  	ROLE_USER 권한이  있을 경우만 이 내용이 보임
			</div>
		</fieldset>
	</div>
</body>
</html>